# Ignore .DS_Store files on mac
.DS_Store

apache-ignite-fabric-1.6.0-bin/*
apache-hadoop-hdfs-precise/*
code/mvn_project/my-app/metastore_db/*
code/wind-data/*
code/wind-data-all/*
code/test_project/target/*
code/test_project/project/project/*
code/test_project/project/target/*
code/test_project/metastore_db/*
